# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Temporary files
temp/
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
